@{
    ViewBag.Title = "Recheche - " + ViewBag.Recherche;

    List<DBO.Recette> recettes = BM.Recette.GetRecetteByContainsNom(ViewBag.Recherche);
    List<DBO.User> users = BM.User.GetUserByContainsName(ViewBag.Recherche);
    List<DBO.Conseil> conseils = BM.Conseil.GetConseilByContainsNom(ViewBag.Recherche);
}

<div id="recherche_recette">
    <h2>Recettes correspondents</h2>
    <ul>
        @if (recettes.Any())
        {
            foreach (DBO.Recette recette in recettes)
            {
                <li>@Html.ActionLink(recette.Nom, "Fiche", "Recette", new { id = recette.Id }, null)</li>
            }
        }
        else
        {
            <li>Pas de recettes trouvées.</li>
        }
    </ul>
</div>

<div id="recherche_user">
    <h2>Utilisateurs correspondents</h2>
    <ul>
        @if (users.Any())
        {
            foreach (DBO.User user in users)
            {
                <li>@Html.ActionLink(user.Name, "Index", "PagePersonnelle", new { id = user.Id }, null)</li>
            }
        }
        else
        {
            <li>Pas d'utilisateurs trouvés.</li>
        }
       
    </ul>
</div>

<div id="recherche_conseil">
    <h2>Conseils correspondents</h2>
    <ul>
        @if (conseils.Any())
        {
            foreach (DBO.Conseil conseil in conseils)
            {
                <li>@Html.ActionLink(conseil.Nom, "Fiche", "Conseil", new { id = conseil.Id }, null)</li>
            }
        }
        else
        {
            <li>Pas de conseils trouvés.</li>
        }      
    </ul>
</div>




