@{
    ViewBag.Title = "Accueil";
    
    List<DBO.Recette> recettes = BM.Top.GetTopRecettes();
    List<DBO.User> users = BM.Top.GetTopCuisiniers();
    List<DBO.Conseil> conseils = BM.Conseil.GetConseilByDate();
}

<div id="topRecettes">
    <ul>
    @foreach (DBO.Recette recette in recettes)
    {
        <li><a href="../Recette/Fiche/@recette.Id">@recette.Nom</a></li>
    }
    </ul>
</div>

<div id="topCuisiniers">
    <ul>
    @foreach (DBO.User user in users)
    {
        <li>@user.Name</li>
    }
    </ul>
</div>

<div id="topConseils">
    <ul>
    @foreach (DBO.Conseil conseil in conseils)
    {
        <li>@conseil.Nom</li>
    }
    </ul>
</div>