@{
    DBO.Conseil conseil = ViewBag.conseil;
    ViewBag.Title = "Conseil - " + conseil.Nom;

    DBO.User user = BM.User.GetUserById(conseil.idCreateur);
}
<h1>@conseil.Nom</h1>
<p>@conseil.Text</p>
<p>
    Créateur : @Html.ActionLink(user.Name, "Index", "PagePersonnelle", new { nom = user.Name }, null)
</p>
