@{
    ViewBag.Title = "Conseils";

    List<DBO.Conseil> conseils = BM.Conseil.GetConseilByDate();
}

@Html.ActionLink("Créer un conseil", "Creation", "Conseil")

<ul>
@foreach (DBO.Conseil conseil in conseils)
{
    <li>@conseil.Nom</li>
}
</ul>