@{
    ViewBag.Title = "Conseils et Techniques";

    List<DBO.Conseil> conseils = BM.Conseil.GetConseilByDate();
}

<div id="content">
    <h1>@ViewBag.Title</h1>
    <div class="add_link">
        @Html.ActionLink("Créer un conseil", "Creation", "Conseil")        
    </div>

    <ul>
@foreach (DBO.Conseil conseil in conseils)
{
    <li>@conseil.Nom</li>
}
</ul>
</div>