@{
    ViewBag.Title = "Recettes";

    List<DBO.Recette> recettes = BM.Top.GetTopRecettes();
}

@Html.ActionLink("Créer une recette", "Creation", "Recette")

<ul>
@foreach (DBO.Recette recette in recettes)
{
    <li>@recette.Nom</li>
}
</ul>