<ul class="header_box">
    <li class="connexion">
        @Html.Partial("_LogOnPartial")
    </li>
    <li>
        <span class="title">Recherche</span>
        @Html.ActionLink("> Recherche avancée", "Avancee", "Recherche", null, new { @class = "advanced" })
        @Html.Partial("_RechercheSimple", new ChefDotNet.Models.RechercheSimpleModel())
        <span class="example">Tourment d'amour, verrine, dessert, tofu...</span>
    </li>
</ul>
