@model ChefDotNet.Models.IngredientModel
<text>
@using (Html.BeginForm())
{      
    <div>
        <div class="editor-label">
            <span class="etoile">*</span>
            @Html.LabelFor(m => m.Nom)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Nom)
            @Html.ValidationMessageFor(m => m.Nom)
        </div>

        <p>
            @Html.ValidationSummary(true, "Echec de l'ajout de l'ingredient.")
        </p>

        <p>
            <input type="submit" value="Ajouter" />
        </p>
    </div>
}
</text>
