@if (Request.IsAuthenticated)
{
    <span class="name">Bonjour @User.Identity.Name</span>
    <span class="deconnexion">
    @Html.ActionLink("> Se déconnecter", "LogOff", "Account")
    </span>
}
else
{ 
    @Html.Partial("_LogOnHeader", new ChefDotNet.Models.LogOnModel())    
}