<ul id="menu">
    <li>@Html.ActionLink("Accueil", "Index", "Accueil")</li>
    <li>@Html.ActionLink("Recettes", "Index", "Recette")</li>
    <li>@Html.ActionLink("Conseils", "Index", "Conseil")</li>
    <li>@Html.ActionLink("Page Personnelle", "Index", "PagePersonnelle")</li>
</ul>
